// Defaults
@space-v = 10px;
@space-h = 10px;
@highlight = #EAF3F8;
@background = #F6F6F6;
@contrast = #7E0E00;
@contrast-dark = #535353;


// Mixins
.rounded(@radius: 15px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}


/*
 * General styling
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
a:link, a:visited, a:focus, a:active {
  text-decoration: none;
  color: @contrast;
}
a:hover {
  text-decoration: underline;
}


/*
 * Major zone styling
 */
#page {
  width: 960px;
  margin: 0 auto;
}
.clear-block:after {
  content: none;
}

/*
 * Right-hand callout
 */
#page-main-callout {
  background: @background;
  margin-left: @space-h;
  padding: @space-v @space-h;
  .rounded();
}
#page-main-callout .field-type-filefield,
#page-main-callout .field-field-general-asin,
#page-main-callout h4
{
  text-align: center;
}
#page-main-callout #gt-widget {
  margin-left: -5px;
}
#page-main-callout select {
  width: 240px;
}

/*
 * Search box
 */
#views-exposed-form-search-default {
  float: right;
  width: 250px;
}
#views-exposed-form-search-default .views-exposed-form .views-exposed-widget {
  padding: 0;
}
#views-exposed-form-search-default input {
  margin: 0;
  clear: right;
}
#views-exposed-form-search-default .views-widget-filter-keys input {
  width: 240px;
}
#views-exposed-form-search-default #edit-submit-search {
  width: 70px;
  margin-left: 175px;
}

/*
 * Page footer
 *
 * NOTE: as per Wikipedia-like styling, the page footer does not go below the
 * left sidebar, but under the main content area
 */
#page-footer {
  padding-top: 2 * @space-v;
  padding-bottom: 2 * @space-v;
  text-align: center;
  font-size: 80%;
}

/*
 * These are elements that should be flush left or, in the case of
 * panel-region-separator, provide an easy proxy for what needs to be flushed
 * left.
 */
#page-title,
.panel-region-separator,
.clear-fix
{
  clear: left;
}


/*
 * Main content area
 */
#page-main h2 {
  margin-bottom: 0;
}

/*
 * Show credits in italics
 */
.field-field-people-credit
{
  font-style: italic;
}

/*
 * Menus
 */
div.admin-links,
div.views-admin-links,
div.panel-pane:hover div.panel-hide
{
  display: none;
}
div.tabs {
  // page-based contextual links
  clear: left;
}
ul.menu {
}
ul.menu li {
  float: left;
  list-style: none;
}
ul.menu li a {
  text-decoration: none;
  padding: (@space-v / 2) @space-h;
}
ul.menu li a:hover {
  background-color: @highlight;
}
#page-left-sidebar ul.menu {
  padding: 0 @space-h;
}
#page-left-sidebar ul.menu li {
  float: none;
  font-size: 85%;
}
#page-left-sidebar ul.menu li a {
  padding: 0;
  padding-left: (2 * @space-h);
  text-indent: (-2 * @space-h);
  display: block;
}


/*
 * Books and Movies view (Media view)
 */
.view-content h3 {
  clear: left;
}
.books-and-movies {
  float: left;
  width: 220px;
  margin: @space-h @space-v;
  text-align: center;
  padding: @space-v @space-h;
  background-color: @background;
  .rounded();
}
.views-row-odd .books-and-movies,
.views-row-first .books-and-movies
{
  clear: left;
}
div.field-type-asin {
  border: 0;
}
div.field-type-asin {
  clear: none;
}

/*
 * Icons
 */
.blogger-link img {
  width: 32px;
  height: 32px;
  vertical-align: middle;
}






/*
 * Misc fixes
 */

// @TODO: Should do this by resizing the image, but waiting until we have a final design
#logo img {
  width: 160px;
}
