@CHARSET "ISO-8859-1";

div.field-type-asin {
  border: none;
}

#pid-search #content-inner {
  overflow: visible;
  min-height: 800px;
}
div#autocomplete {
  z-index: 100;
  background-color: red;
}

dd {
  margin-bottom: 0;
}

.center-wrapper {
  clear: both;
}

.dsm-criteria {
  padding: 15px;
  border: 1px solid #666;
}

.dsm-title {
  display: inline;
}

.float-right {
  float: right;
  margin: 0 0 10px 10px;
  z-index: 10;
}
.float-left {
  float: left;
  margin: 0 10px 10px 0;
  z-index: 10;
}


/*
 * Related media display
 */
.view-Media .amazon-item-image {
  float: left;
  margin-right: 15px;
}
.view-Media .views-row {
  clear: left;
}
